body {
	background-color: white;
}

#primary-container {
	position:relative;
	text-align:center;
}

#input-text, #output-text-container, #submit-text-btn {
	display:inline-block;	
}

#input-text {
	position:relative;
	top: 5px;
}

#output-text-container {
	position:relative;
	border:1px solid black; 
	top: 5px;
  width: 500px;
  height: 523px;
  overflow: scroll;
}

#output-text {
	background-color: red;
	width:0px.;
	height:0px;
}

#submit-text-btn {
	top:10px;
}

